/* ---=--------Общие стили--------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*----------------------------------*/

.userCard {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
    margin: 20px;
    background-color: rgb(209, 209, 209);
    flex-direction: row-reverse;
}

.fa-solid {
    margin-left: auto;
}
.fa-solid:hover {
    cursor: pointer;
}

.userImg {
    width: 75px;
    height: 75px;
    background-color: rgb(0, 255, 0);
    border: 1px solid rgb(180, 26, 185);
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    padding: 10px;
}

.userAge {
    padding: 10px;
}

